<div class="demo-app">
  <div class="demo-app-main">
    <full-calendar *ngIf="calendarVisible()" [options]="calendarOptions()">
      <ng-template #eventContent let-arg>
        <div (click)="toggleSidebar(arg.event.id)">
          <b>{{ arg.timeText }}</b>
          <i class="event-title">{{ arg.event.title }}</i>
        </div>
      </ng-template>
    </full-calendar>
  </div>

  <mat-drawer-container class="example-container" autosize>
    <mat-drawer
      [opened]="sidebarVisible"
      #drawer
      class="example-container"
      mode="side"
    >
      <div class="close-sidebar" (click)="closeSidebar()">X</div>
      <div class="demo-app-sidebar-section">
        <h2>Instructions</h2>
        <ul>
          <li>Select dates and you will be prompted to create a new event</li>
          <li>Drag, drop, and resize events</li>
          <li>Click an event to see more details</li>
        </ul>
        <label>
          <input
            type="checkbox"
            [checked]="calendarOptions().weekends"
            (change)="handleWeekendsToggle()"
          />
          Disable weekend days
        </label>
      </div>
      <div class="demo-app-sidebar-section">
        <h2 class="all-events-container">
          All Events ({{ currentEvents.length }})
            <button (click)="toggleEventList()" class="expand-toggle" mat-mini-fab color="primary" aria-label="Toggle event list">
              <mat-icon>{{ isEventListExpanded ? 'expand_less' : 'expand_more' }}</mat-icon>
            </button>
        </h2>
        <div class="event-list" *ngIf="isEventListExpanded">
          <mat-card *ngFor="let event of getSortedEvents()" class="event-card">
            <mat-card-content>
              <div class="event-info">
                <div class="label">Start of Event:</div>
                <div class="value">
                  {{ event["startTime"] | date : "yyyy-MM-dd" }}
                </div>
              </div>
              <div class="event-info">
                <div class="label">Title:</div>
                <div class="value">{{ event.title }}</div>
              </div>
              <div class="event-info">
                <div class="label">Description:</div>
                <div class="value">{{ event.description }}</div>
              </div>
              <div class="event-info">
                <div class="label">Type:</div>
                <div class="value">{{ event.type }}</div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="demo-app-sidebar-section" *ngIf="selectedEvent">
        <h2>Selected Event</h2>
        <mat-card class="selected-event">
          <mat-card-content>
            <div class="event-info">
              <div class="label">Start of Event:</div>
              <div class="value">
                {{ selectedEvent.startTime | date : "yyyy-MM-dd" }}
              </div>
            </div>
            <div class="event-info">
              <div class="label">End of Event:</div>
              <div class="value">
                {{ selectedEvent.endTime | date : "yyyy-MM-dd" }}
              </div>
            </div>
            <div class="event-info">
              <div class="label">Title:</div>
              <div class="value">{{ selectedEvent.title }}</div>
            </div>
            <div class="event-info">
              <div class="label">Description:</div>
              <div class="value">{{ selectedEvent.description }}</div>
            </div>
            <div class="event-info">
              <div class="label">Type:</div>
              <div class="value">{{ selectedEvent.type }}</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="demo-app-sidebar-section">
        <button (click)="deleteEvent()">Delete Event</button>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>
